<h3 class="blue-text darken-3.5"><i class="fas fa-building-user blue-text darken-3.5"></i> Social Suite</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-3.5">
    <i class="fab fa-google left"></i> Login With Google
    </a>
</div>